html {
  height: 100%;
}

body {
  align-items: center;
  background-color: #f4dc26;
  display: flex;
  height: 100%;
  justify-content: center;
}

.pikachu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-eye {
  width: 100px;
  height: 100px;
  background: #000000;
  position: absolute;
  border-radius: 50%;
  top: -100px;
  left: -400px;
  box-shadow: -4px 4px 6px #5a5959
}

.left-sparkle {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 50%;
  top: 18px;
  left: 51px;
}

.right-eye {
  width: 100px;
  height: 100px;
  background: #000000;
  position: absolute;
  border-radius: 50%;
  top: -98px;
  left: 341px;
  box-shadow: 4px 4px 6px #5a5959
}

.right-sparkle {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 50%;
  top: 16px;
  left: 19px;
}

.nose {
  width: 40px;
  height: 20px;
  background: #000000;
  position: absolute;
  border-radius: 50% 50% 50% 50% / 31% 31% 70% 70%;
  top: -28px;
  box-shadow: 0px 4px 3px #5a5959
}

.mouth1 {
  width: 100px;
  height: 86px;
  background: #000000;
  position: absolute;
  border-radius: 99% 35% 87% 38% / 70% 51% 78% 59%;
  top: 15px;
  left: -76px;
  box-shadow: 4px 4px 6px #5a5959
}

.mouth2 {
  width: 100px;
  height: 86px;
  background: #000000;
  position: absolute;
  border-radius: 35% 99% 38% 87% / 51% 70% 59% 78%;
  top: 15px;
  left: 19px;
  box-shadow: -4px 4px 6px #5a5959
}

.mouth-mask1 {
  width: 100px;
  height: 83px;
  background: #f4dc26;
  position: absolute;
  border-radius: 99% 35% 87% 38% / 70% 51% 78% 59%;
  top: 5px;
  left: -76px;
}

.mouth-mask2 {
  width: 100px;
  height: 83px;
  background: #f4dc26;
  position: absolute;
  border-radius: 35% 99% 38% 87% / 51% 70% 59% 78%;
  top: 5px;
  left: 20px;
}

.mouth3 {
  width: 125px;
  height: 20px;
  background: #000000;
  position: absolute;
  border-radius: 76% 76% 10% 10%/150% 150% 0% 0%;
  top: 71px;
  left: -44px;
}

.mouth3-mask {
  width: 125px;
  height: 4px;
  background: #5a5959;
  position: absolute;
  border-radius: 100% 100% 0% 0%/200% 200% 0% 0%;
  top: 87px;
  left: -44px;
  box-shadow: 0px 2px 4px 2px #5a5959
}

.sad-mouth {
  visibility: hidden;
}

.left-cheek {
  width: 100px;
  height: 100px;
  background: #d81e1e;
  position: absolute;
  border-radius: 50%;
  top: 42px;
  left: -465px;
  box-shadow: -4px 4px 6px #4b1f1f
}

.right-cheek {
  width: 100px;
  height: 100px;
  background: #d81e1e;
  position: absolute;
  border-radius: 50%;
  top: 42px;
  left: 407px;
  box-shadow: 4px 4px 6px #4b1f1f
}

